torchaudio
torch
SoundFile==0.12.1
munch==4.0.0
pydub==0.25.1
PyYAML==6.0.1
librosa==0.10.1
einops-exts==0.0.4
nltk
matplotlib
accelerate
transformers
einops
tqdm
typing
typing-extensions
phonemizer==3.2.1
git+https://github.com/resemble-ai/monotonic_align.git@78b985be210a03d08bc3acc01c4df0442105366f
